# Diretórios
node_modules/
dist/

# Arquivos
.env

# Arquivos específicos para editores e sistemas operacionais
.vscode/
.idea/
*.sublime-*
*.swp
.DS_Store

# Logs e saída de testes
npm-debug.log
yarn-error.log
coverage/
src/config/credenciais.json
